
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-587303457807926251.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-587303457807926251.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-587303457807926251.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-587303457807926251.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-587303457807926251.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-587303457807926251.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-587303457807926251.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-587303457807926251.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-587303457807926251.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-587303457807926251.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-587303457807926251.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-587303457807926251.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-587303457807926251.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-587303457807926251.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-587303457807926251.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-587303457807926251.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-587303457807926251.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-587303457807926251.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-587303457807926251.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-587303457807926251.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-587303457807926251.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-587303457807926251.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-587303457807926251.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-587303457807926251.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-587303457807926251.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-587303457807926251.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-587303457807926251.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-587303457807926251.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-587303457807926251.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-587303457807926251.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-587303457807926251.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-587303457807926251.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-587303457807926251.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-587303457807926251.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-587303457807926251.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-587303457807926251.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-587303457807926251.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-587303457807926251.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-587303457807926251.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-587303457807926251.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-587303457807926251.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-587303457807926251.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-587303457807926251.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-587303457807926251.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-587303457807926251.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-587303457807926251.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-587303457807926251.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-587303457807926251.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-587303457807926251.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-587303457807926251.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-587303457807926251.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-587303457807926251.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-587303457807926251.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-587303457807926251.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-587303457807926251.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-587303457807926251.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-587303457807926251.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-587303457807926251.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-587303457807926251.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-587303457807926251.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-587303457807926251.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-587303457807926251.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-587303457807926251.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-587303457807926251.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-587303457807926251.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-587303457807926251.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-587303457807926251.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-587303457807926251.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-587303457807926251.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-587303457807926251.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-587303457807926251.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-587303457807926251.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-587303457807926251.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-587303457807926251.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-587303457807926251.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-587303457807926251.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-587303457807926251.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-587303457807926251.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-587303457807926251.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-587303457807926251.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-587303457807926251.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-587303457807926251.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-587303457807926251.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-587303457807926251.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-587303457807926251 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-587303457807926251 .gp-pointer-events-none{pointer-events:none}.gps-587303457807926251 .gp-absolute{position:absolute}.gps-587303457807926251 .gp-relative{position:relative}.gps-587303457807926251 .gp-inset-0{inset:0}.gps-587303457807926251 .gp-z-1{z-index:1}.gps-587303457807926251 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-587303457807926251 .gp-mb-0{margin-bottom:0}.gps-587303457807926251 .gp-inline-block{display:inline-block}.gps-587303457807926251 .gp-flex{display:flex}.gps-587303457807926251 .gp-grid{display:grid}.gps-587303457807926251 .gp-contents{display:contents}.gps-587303457807926251 .\!gp-hidden{display:none!important}.gps-587303457807926251 .gp-hidden{display:none}.gps-587303457807926251 .gp-h-auto{height:auto}.gps-587303457807926251 .gp-h-full{height:100%}.gps-587303457807926251 .gp-w-full{width:100%}.gps-587303457807926251 .gp-w-max{width:-moz-max-content;width:max-content}.gps-587303457807926251 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-587303457807926251 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-587303457807926251 .gp-max-w-full{max-width:100%}.gps-587303457807926251 .gp-flex-1{flex:1 1 0%}.gps-587303457807926251 .gp-flex-none{flex:none}.gps-587303457807926251 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-587303457807926251 .gp-flex-col{flex-direction:column}.gps-587303457807926251 .gp-flex-wrap{flex-wrap:wrap}.gps-587303457807926251 .gp-text-center{text-align:center}.gps-587303457807926251 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-587303457807926251 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-587303457807926251 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-587303457807926251 .gp-duration-200{transition-duration:.2s}.gps-587303457807926251 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-587303457807926251 .tablet\:\!gp-hidden{display:none!important}.gps-587303457807926251 .tablet\:gp-hidden{display:none}.gps-587303457807926251 .tablet\:gp-h-auto{height:auto}.gps-587303457807926251 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-587303457807926251 .mobile\:\!gp-hidden{display:none!important}.gps-587303457807926251 .mobile\:gp-hidden{display:none}.gps-587303457807926251 .mobile\:gp-h-auto{height:auto}.gps-587303457807926251 .mobile\:gp-flex-none{flex:none}}.gps-587303457807926251 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"},"mobile":{"type":"image","color":"transparent","image":{"src":"https://cdn.shopify.com/s/files/1/0989/0067/2861/files/gempages_585563945989833533-16ba1bbc-585a-4a2c-a26a-99663721daff.png","width":500,"height":600,"storage":"FILE_CONTENT","backupFileKey":"gempages_585563945989833533-16ba1bbc-585a-4a2c-a26a-99663721daff.png"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g3Yf7dZbNv"}' data-id="g3Yf7dZbNv" id="g3Yf7dZbNv" data-same-height-subgrid-container class="g3Yf7dZbNv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--mt-mobile:-21px;--pt-mobile:32px;--pl-mobile:0px;--pb-mobile:23px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgc-mobile:transparent;--bgi:url();--bgi-mobile:url(https://cdn.shopify.com/s/files/1/0989/0067/2861/files/gempages_585563945989833533-16ba1bbc-585a-4a2c-a26a-99663721daff.png);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gaY8xUixiH gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gujHrIdDGc"
        class="gujHrIdDGc"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760665367138"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--size:46px;--size-tablet:46px;--size-mobile:25px;--c:#D1D1D1;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggujHrIdDGc_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px" class="gZyA71x8_4 ">
      
    {%- liquid
      assign standardEndDate = 1729159310843
      assign typeCountdown = "evergreen"
      assign autoHideWhenTimeout = false
      assign current_time = 'now' | date: '%s' | times: 1000

    -%}
   {% if standardEndDate == nil or current_time <= standardEndDate or typeCountdown != "standard" or autoHideWhenTimeout != true %}
      <gp-countdown-timer
        data-id="gZyA71x8_4"
        gp-href="#"
        class="gp-flex"
        style="--jc:right;--jc-mobile:center"
        gp-data='{"autoHideWhenTimeout":false,"behaviour":"evergreen","dateStandard":1729144910843,"dayLabel":"Jours","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","loopAfterFinish":true,"minuteLabel":"Min","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"Sec","timeZone":"UTC-4","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":1,"endTime":1759765585630,"hours":0,"mins":0,"startTime":1728540110843},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gZyA71x8_4","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"1px 1px 1px 1px"}}},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"edited":["mobile"],"desktop":{"margin":{"bottom":0}},"mobile":{"link":false,"margin":{"bottom":"12px"},"padding":{"top":"0px","left":"0px","bottom":"0px","right":"0px"}}}},"label":"Countdown Timer","settings":{"autoHideWhenTimeout":false,"behaviour":"evergreen","dateStandard":1729144910843,"dayLabel":"Jours","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","loopAfterFinish":true,"minuteLabel":"Min","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"Sec","timeZone":"UTC-4","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":1,"endTime":1759765585630,"hours":0,"mins":0,"startTime":1728540110843},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#00000000","borderState":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"7px","itemPadding":{"desktop":{"bottom":"10px","left":"11px","right":"11px","top":"10px"},"mobile":{"bottom":"10px","left":"17px","right":"17px","top":"10px"}},"labelTypo":{"attrs":{"color":"#ffffff"},"custom":{"fontSize":{"desktop":"16px","mobile":"14px","tablet":"16px"},"fontWeight":"500","hasShadowText":false,"lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-2"},"numTypo":{"attrs":{"bold":true,"color":"#FFFFFF"},"custom":{"fontSize":{"desktop":"40px","mobile":"29px","tablet":"40px"},"fontWeight":"600","hasShadowText":false,"lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"subheading-2"},"roundedState":{"normal":{"radiusType":"none"}},"textAlign":{"desktop":"right","mobile":"center"},"verticalGap":"2px"},"tag":"Countdown","uid":"gZyA71x8_4","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:7px;--jc:right;--jc-mobile:center">
          <a
              href="#"
              target="_self"
              aria-label="Countdown link"
              class="gp-absolute gp-inset-0 gp-z-1 gp-pointer-events-none"
            > </a>
          
          
    <div style="--pl:11px;--pr:11px;--pt:10px;--pb:10px;--pl-mobile:17px;--pr-mobile:17px;--pt-mobile:10px;--pb-mobile:10px;--bs:none;--bw:1px 1px 1px 1px;--bg:#00000000" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZyA71x8_4-text" id="day"
        class="gZyA71x8_4"
        style="--mb:2px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760665367139"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-heading, heading);--size:40px;--size-tablet:40px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZyA71x8_4-text"
        class="gZyA71x8_4"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760665367140"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZyA71x8_4_dayLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:11px;--pr:11px;--pt:10px;--pb:10px;--pl-mobile:17px;--pr-mobile:17px;--pt-mobile:10px;--pb-mobile:10px;--bs:none;--bw:1px 1px 1px 1px;--bg:#00000000" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZyA71x8_4-text" id="hour"
        class="gZyA71x8_4"
        style="--mb:2px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760665367140"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-heading, heading);--size:40px;--size-tablet:40px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZyA71x8_4-text"
        class="gZyA71x8_4"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760665367144"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZyA71x8_4_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:11px;--pr:11px;--pt:10px;--pb:10px;--pl-mobile:17px;--pr-mobile:17px;--pt-mobile:10px;--pb-mobile:10px;--bs:none;--bw:1px 1px 1px 1px;--bg:#00000000" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZyA71x8_4-text" id="minute"
        class="gZyA71x8_4"
        style="--mb:2px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760665367144"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-heading, heading);--size:40px;--size-tablet:40px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZyA71x8_4-text"
        class="gZyA71x8_4"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760665367145"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZyA71x8_4_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:11px;--pr:11px;--pt:10px;--pb:10px;--pl-mobile:17px;--pr-mobile:17px;--pt-mobile:10px;--pb-mobile:10px;--bs:none;--bw:1px 1px 1px 1px;--bg:#00000000" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZyA71x8_4-text" id="second"
        class="gZyA71x8_4"
        style="--mb:2px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760665367145"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-heading, heading);--size:40px;--size-tablet:40px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZyA71x8_4-text"
        class="gZyA71x8_4"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760665367145"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZyA71x8_4_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gElPFkF0Ao"
        class="gElPFkF0Ao"
        style="--ta:left;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760665367147"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--ff:var(--g-font-NimbusSanL-Reg, 'NimbusSanL-Reg'), var(--g-font-heading, heading);--weight:400;--size:46px;--size-tablet:46px;--size-mobile:26px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#C5E1FF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggElPFkF0Ao_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gAXENmLstp"
        class="gAXENmLstp"
        style="--ta:left;--mt-mobile:10px;--pt-mobile:0px;--pl-mobile:12px;--pb-mobile:0px;--pr-mobile:2px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760665367148"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-NimbusSanL-Reg, 'NimbusSanL-Reg'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#D1D1D1;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggAXENmLstp_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"grnJBgSPky"}' data-id="grnJBgSPky" id="grnJBgSPky" data-same-height-subgrid-container class="grnJBgSPky gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--cg-mobile:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gSC32p1R9z gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gleblnWriy"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1760665367150 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gleblnWriy"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_585563945989833533-cd0a8e8a-c6a7-4241-bd11-0992b1ca3552.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjEyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTEyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjEyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjEyMCIgZmlsbD0idXJsKCNnLTUwMC0xMjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo_1024x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gJhwhKtu6U gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="glFL30jXiV"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1760665367151 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto glFL30jXiV"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_585563945989833533-fa150c29-ce9e-4c43-9946-b28b0c65ebd4.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjEyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTEyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjEyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjEyMCIgZmlsbD0idXJsKCNnLTUwMC0xMjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo_1024x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    <div
      role="presentation"
      data-id="gVjbOtpDoj"
      style="--mt-mobile:12px;--pt-mobile:21px;--pl-mobile:35px;--pb-mobile:25px;--pr-mobile:35px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1760665367152 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gVjbOtpDoj"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_585563945989833533-c6bed948-ea0a-4cdf-8444-55e377abda20.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTM4NCIgaGVpZ2h0PSI5NjciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEzODQtOTY3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMzg0IiBoZWlnaHQ9Ijk2NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTM4NCIgaGVpZ2h0PSI5NjciIGZpbGw9InVybCgjZy0xMzg0LTk2NykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEzODQiIHRvPSIxMzg0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo_1024x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-587303457807926251 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/nqzhmw-s2/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=587182624338870954&sectionId=587303457807926251)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggujHrIdDGc_text","label":"ggujHrIdDGc_text","default":"Ne passez pas à côté !"},{"type":"html","id":"ggZyA71x8_4_dayLabel","label":"ggZyA71x8_4_dayLabel","default":"Jours"},{"type":"html","id":"ggZyA71x8_4_hourLabel","label":"ggZyA71x8_4_hourLabel","default":"Hrs"},{"type":"html","id":"ggZyA71x8_4_minuteLabel","label":"ggZyA71x8_4_minuteLabel","default":"Min"},{"type":"html","id":"ggZyA71x8_4_secondLabel","label":"ggZyA71x8_4_secondLabel","default":"Sec"},{"type":"html","id":"ggZyA71x8_4_weekLabel","label":"ggZyA71x8_4_weekLabel","default":"Weeks"},{"type":"html","id":"ggElPFkF0Ao_text","label":"ggElPFkF0Ao_text","default":"Compatible iPhone &amp; Android !"},{"type":"html","id":"ggAXENmLstp_text","label":"ggAXENmLstp_text","default":"<p>Utilisez l'application Apple Find My (iPhone) ou Find My Device (Android). Rien à installer. C'est déjà sur votre téléphone.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  