{% liquid
  assign content_border_size = section.settings.content_border_size
    assign content_border_color = section.settings.content_border_color
    assign content_border_style = section.settings.content_border_style
    assign content_border_radius = section.settings.content_border_radius
    assign content_background = section.settings.content_background

    assign heading = section.settings.heading
    assign heading_size = section.settings.heading_size
    assign heading_weight = section.settings.heading_weight
    assign heading_color = section.settings.heading_color
    assign heading_size_mobile = section.settings.heading_size_mobile

    assign text = section.settings.text
    assign text_size = section.settings.text_size
    assign text_color = section.settings.text_color
    assign text_size_mobile = section.settings.text_size_mobile

    assign button_text = section.settings.button_text
    assign button_link = section.settings.button_link
    assign button_size = section.settings.button_size
    assign button_weight = section.settings.button_weight
    assign button_color = section.settings.button_color
    assign button_size_mobile = section.settings.button_size_mobile
    assign button_border_size = section.settings.button_border_size
    assign button_border_color = section.settings.button_border_color
    assign button_border_style = section.settings.button_border_style
    assign button_border_radius = section.settings.button_border_radius
    assign button_background = section.settings.button_background

    assign enable_spinning_image = section.settings.enable_spinning_image
    assign spinning_image = section.settings.spinning_image

    assign banner_image = section.settings.banner_image
    assign banner_image_border_radius = section.settings.banner_image_border_radius
    assign banner_image_border_size = section.settings.banner_image_border_size
    assign banner_image_border_style = section.settings.banner_image_border_style
    assign banner_image_border_color = section.settings.banner_image_border_color

    assign layout_gap = section.settings.layout_gap
    assign layout_margin_top = section.settings.layout_margin_top
    assign layout_margin_bottom = section.settings.layout_margin_bottom

%}


<div id="shopify-section-pc-{{ section.id }}" class="shopify-section">
  <style data-shopify="">
    .section-pc-{{ section.id }} {
      border-top: solid #000000 0px;
      border-bottom: solid #000000 0px;
      margin-top: {{ layout_margin_top }}px;
      margin-bottom: {{ layout_margin_bottom }}px;
      margin-left: 0rem;
      margin-right: 0rem;
      border-radius: 0px;
      overflow: hidden;
    }

    .section-pc-{{ section.id }}-settings {
      margin: 0 auto;
      padding-top: 27px;
      padding-bottom: 27px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      height: 100%;
    }

    .hero-body-pc-{{ section.id }} {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      gap: {{ layout_gap }}px;
      height: 100%;
    }

    .hero-content-pc-{{ section.id }} {
      grid-area: content;
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: center;
      align-items: start;
      padding: 32px 24px;
      border: {{ content_border_size }}px {{ content_border_style }} {{ content_border_color }};
      border-radius: {{ content_border_radius }}px; 
      overflow: hidden;
      background-color: {{ content_background }};
    }

    .hero-image-pc-{{ section.id }} {
      grid-area: image;
      border: {{ banner_image_border_size }}px {{ banner_image_border_style }} {{ banner_image_border_color }};
      border-radius: {{ banner_image_border_radius }}px;
      overflow: hidden;
    }

    .hero-image-pc-{{ section.id }} img,
    .hero-image-pc-{{ section.id }} svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .hero-image-pc-{{ section.id }} svg {
      background-color: #afafaf;
    }

    @media (min-width: 1024px) {
      .section-pc-{{ section.id }} {
        margin-top: {{ layout_margin_top }}px;
        margin-bottom: {{ layout_margin_bottom }}px;
        margin-left: 0rem;
        margin-right: 0rem;
        border-radius: 0px;
      }

      .section-pc-{{ section.id }}-settings {
        padding: 0 5rem;
        padding-top: 36px;
        padding-bottom: 36px;
        padding-left: 4rem;
        padding-right: 4rem;
      }

      .hero-content-pc-{{ section.id }} {
        padding: 32px 40px;
        align-items: start;
      }

      .hero-body-pc-{{ section.id }} {
        grid-template-columns: auto 60%;
        gap: {{ layout_gap }}px;
      }
    }
  </style>

  <style>
    .hero-pc-{{ section.id }} {
      height: 100%;
    }

    @media (min-width: 1024px) {
      .hero-pc-{{ section.id }} {
        height: 600px;
      }
    }
  </style>

  <style>
    .hero-body-pc-{{ section.id }} {
      grid-template-areas:
        'image'
        'content';
    }
  </style>

  <style>
    @media (min-width: 1024px) {
      .hero-body-pc-{{ section.id }} {
        grid-template-areas: 'content image';
      }
    }
  </style>

  <style>
    .hero-image-pc-{{ section.id }} {
      aspect-ratio: 12/9;
    }
  </style>

  <style>
    @media (min-width: 1024px) {
      .hero-image-pc-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>

  <style>
    

    .hero-heading-heading_VH7p3j {
      margin-top: 0px;
      text-align: start;
    }

    .hero-heading-heading_VH7p3j * {
      margin: 0;
      font-size: {{ heading_size_mobile }}px;
      color: {{ heading_color }};
      line-height: 130%;
      text-transform: unset;
      word-break: break-word;
      font-weight: {{ heading_weight }};
    }

    .hero-heading-heading_VH7p3j * strong {
      text-decoration: underline;
    }

    @media (min-width: 1024px) {
      .hero-heading-heading_VH7p3j {
        margin-top: 0px;
        text-align: start;
      }

      .hero-heading-heading_VH7p3j * {
        font-size: {{ heading_size }}px;
      }
    }
  </style>


  <style>
   
    .hero-text-text_yLhC3R {
      margin-top: 12px;
      text-align: start;
      position: relative;
      z-index: 2;
    }

    .hero-text-text_yLhC3R * {
      margin: 0;
      font-size: {{ text_size_mobile }}px;
      color: {{ text_color }};
      line-height: 150%;
      text-transform: unset;
    }

    @media (min-width: 1024px) {
      .hero-text-text_yLhC3R {
        margin-top: 16px;
        text-align: start;
      }

      .hero-text-text_yLhC3R * {
        font-size: {{ text_size }}px;
      }
    }
  </style>

 

  <style>
   

    .hero-button-button_JG6kU9 {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: fit-content;
      gap: 10px;
      width: 100%;
      margin: 0;
      font-size: {{ button_size_mobile }}px;
      color: {{ button_color }};
      line-height: 100%;
      text-align: center;
      text-transform: unset;
      text-decoration: none;
      padding: 14px 24px;
      border-radius: {{ button_border_radius }}px;
      transition: all 0.3s ease 0s;
      background-color: transparent;
      border: {{ button_border_size }}px {{ button_border_style }} {{ button_border_color }};
      margin-top: 24px;
      cursor: pointer;
      font-weight: {{ button_weight }};
    }

    .hero-button-inner-button_JG6kU9 {
      margin: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      text-decoration: none;
    }

    .hero-button-button_JG6kU9:hover {
      color: {{ button_color }};
      transition: all 0.25s ease 0s;
    }

    .hero-button-button_JG6kU9 svg {
      width: 14px;
      height: 14px;
    }

    .hero-button-button_JG6kU9 svg path {
      fill: {{ button_color }};
      transition: all 0.25s ease 0s;
    }

    .hero-button-button_JG6kU9:hover svg path {
      fill: {{ button_color}};
      transition: all 0.25s ease 0s;
    }

    @media (min-width: 1024px) {
      .hero-button-button_JG6kU9 {
        margin-top: 32px;
        padding: 14px 24px;
        font-size: {{ button_size }}px;
      }
    }
  </style>


  <style>
    .hero-button-button_JG6kU9 {
      transition: all 0.3s ease 0s;
      background-color: {{ button_background }};
    }

    .hero-button-button_JG6kU9:hover {
      transition: all 0.3s ease 0s;
      background-color: {{ button_background }};
    }
  </style>

  <style>
    .hero-circle-circle_CyRRTk {
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
    }

    .hero-circle-image-circle_CyRRTk {
      position: absolute;
      z-index: 2;
      border-radius: 100px;
      overflow: hidden;
      border: 0px solid #ffffff;
      width: 100px;
      height: 100px;
      -webkit-animation: rotatecircle_CyRRTk 12s infinite linear;
      animation: rotatecircle_CyRRTk 12s infinite linear;

      -webkit-animation-play-state: running;
      animation-play-state: running;
    }

    .hero-circle-image-circle_CyRRTk img,
    .hero-circle-image-circle_CyRRTk svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .hero-circle-image-circle_CyRRTk svg {
      background-color: #afafaf;
    }

    .hero-circle-text-wrapper-circle_CyRRTk {
      width: 95px;
      height: 95px;
    }

    @keyframes rotatecircle_CyRRTk {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    @media (min-width: 1024px) {
      .hero-circle-circle_CyRRTk {
        position: absolute;
        top: 20%;
        left: 40%;
        transform: translate(-50%, -50%);
        width: 130px;
        height: 130px;
      }

      .hero-circle-image-circle_CyRRTk {
        width: 130px;
        height: 130px;
      }

      .hero-circle-text-wrapper-circle_CyRRTk {
        width: 130px;
        height: 130px;
      }
    }
  </style>

  <style>
    .hero-circle-circle_CyRRTk {
      display: none;
    }

    @media (min-width: 1024px) {
      .hero-circle-circle_CyRRTk {
        display: flex;
      }
    }
  </style>

  <div
    class="section-pc-{{ section.id }} hero-pc-{{ section.id }}"
    style="background-color: transparent; background-image: ;"
  >
    <div class="section-pc-{{ section.id }}-settings">
      <div class="hero-body-pc-{{ section.id }}">
        <div class="hero-content-pc-{{ section.id }}">
          {% if heading != blank %}
          <div class="hero-heading-heading_VH7p3j">
            <h1> {{ heading }}</h1>
          </div>
          {%endif %}
          {%if text != blank %}
          <div class="hero-text-text_yLhC3R">
            <p>
              {{ text }}
            </p>
          </div>
        {% endif %}

        {%if button_text != blank %}
          <a href="{{ button_link }}" class="hero-button-button_JG6kU9">
            <p class="hero-button-inner-button_JG6kU9">
              {{ button_text }}

              <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
              </svg>
            </p>
          </a>
          {%endif %}
        </div>

        {%if enable_spinning_image == true %}
        <div class="hero-circle-circle_CyRRTk">
          <div class="hero-circle-image-circle_CyRRTk">
            {%if spinning_image != blank %}
            <img src="{{spinning_image | img_url: 'master' }}" alt="">
          {% else %}
            {{ 'product-2' | placeholder_svg_tag: "placeholder_svg" }}
            {%endif %}
          </div>
        </div>
        {%endif %}

        <div class="hero-image-pc-{{ section.id }}">
          {% if banner_image != blank %}
          <img
            src="{{ banner_image | img_url: 'master' }}" 
            alt=""
          >
            {%else %}
              {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder_svg' }}
              {%endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{%  schema %}
{
    "name": "PC - Hero #27",
    "settings": [
        {
            "type": "header",
            "content": "Content Settings"
        },
        {
            "type": "range",
            "id": "content_border_size",
            "label": "Content Border Size",
            "default": 0,
            "min": 0,
            "max": 10
        },
        {
            "type": "color",
            "id": "content_border_color",
            "label": "Content Border Color",
            "default": "#000000"
        },
        {
            "type": "select",
            "id": "content_border_style",
            "label": "Content Border Style",
            "default": "solid",
            "options": [
                {
                    "value": "solid",
                    "label": "Solid"
                },
                {
                    "value": "dashed",
                    "label": "Dashed"
                },
                {
                    "value": "dotted",
                    "label": "Dotted"
                }
            ]
        },
        {
            "type": "range",
            "id": "content_border_radius",
            "label": "Content Border Radius",
            "default": 16,
            "min": 0,
            "max": 50
        },
        {
            "type": "color",
            "id": "content_background",
            "label": "Content Background",
            "default": "#d9d9d9"
        },
        {
            "type": "header",
            "content": "Heading Settings"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Lorem Ipsum"
        },
        {
            "type": "range",
            "id": "heading_size",
            "label": "Heading Size",
            "default": 52,
            "min": 10,
            "max": 100
        },
        {
            "type": "select",
            "id": "heading_weight",
            "label": "Heading Weight",
            "default": "700",
            "options": [
                {
                    "value": "400",
                    "label": "Normal"
                },
                {
                    "value": "700",
                    "label": "Bold"
                }
            ]
        },
        {
            "type": "color",
            "id": "heading_color",
            "label": "Heading Color",
            "default": "#121212"
        },
        {
            "type": "range",
            "id": "heading_size_mobile",
            "label": "Heading Size Mobile",
            "default": 20,
            "min": 10,
            "max": 50
        },
        {
            "type": "header",
            "content": "Text Settings"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        },
        {
            "type": "range",
            "id": "text_size",
            "label": "Text Size",
            "default": 14,
            "min": 10,
            "max": 30
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#121212"
        },
        {
            "type": "range",
            "id": "text_size_mobile",
            "label": "Text Size Mobile",
            "default": 12,
            "min": 10,
            "max": 20
        },
        {
            "type": "header",
            "content": "Button Settings"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Learn more"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        },
        {
            "type": "range",
            "id": "button_size",
            "label": "Button Size",
            "default": 14,
            "min": 10,
            "max": 30
        },
        {
            "type": "select",
            "id": "button_weight",
            "label": "Button Weight",
            "default": "700",
            "options": [
                {
                    "value": "400",
                    "label": "Normal"
                },
                {
                    "value": "700",
                    "label": "Bold"
                }
            ]
        },
        {
            "type": "color",
            "id": "button_color",
            "label": "Button Color",
            "default": "#ffffff"
        },
        {
            "type": "range",
            "id": "button_size_mobile",
            "label": "Button Size Mobile",
            "default": 12,
            "min": 10,
            "max": 20
        },
        {
            "type": "range",
            "id": "button_border_size",
            "label": "Button Border Size",
            "default": 0,
            "min": 0,
            "max": 10
        },
        {
            "type": "color",
            "id": "button_border_color",
            "label": "Button Border Color",
            "default": "#000000"
        },
        {
            "type": "select",
            "id": "button_border_style",
            "label": "Button Border Style",
            "default": "solid",
            "options": [
                {
                    "value": "solid",
                    "label": "Solid"
                },
                {
                    "value": "dashed",
                    "label": "Dashed"
                },
                {
                    "value": "dotted",
                    "label": "Dotted"
                }
            ]
        },

        {
          "type": "range",
          "id": "button_border_radius",
          "label": "Button Border Radius",
          "default": 100,
          "min": 0,
          "max": 100
      },
        {
            "type": "color",
            "id": "button_background",
            "label": "Button Background",
            "default": "#121212"
        },
        {
            "type": "header",
            "content": "Image Settings"
        },
        {
          "type": "checkbox",
          "id": "enable_spinning_image",
          "label": "Enable Sticker",
          "default": true
        },
        {
            "type": "image_picker",
            "id": "spinning_image",
            "label": "Spinning Image"
        },
        {
            "type": "image_picker",
            "id": "banner_image",
            "label": "Banner Image"
        },
        {
            "type": "range",
            "id": "banner_image_border_radius",
            "label": "Banner Image Border Radius",
            "default": 16,
            "min": 0,
            "max": 50
        },
        {
            "type": "range",
            "id": "banner_image_border_size",
            "label": "Banner Image Border Size",
            "default": 0,
            "min": 0,
            "max": 10
        },
        {
            "type": "select",
            "id": "banner_image_border_style",
            "label": "Banner Image Border Style",
            "default": "solid",
            "options": [
                {
                    "value": "solid",
                    "label": "Solid"
                },
                {
                    "value": "dashed",
                    "label": "Dashed"
                },
                {
                    "value": "dotted",
                    "label": "Dotted"
                }
            ]
        },
        {
            "type": "color",
            "id": "banner_image_border_color",
            "label": "Banner Image Border Color",
            "default": "#121212"
        },
        {
            "type": "header",
            "content": "Layout Settings"
        },
        {
          "type": "range",
          "id": "layout_gap",
          "label": "Column gap",
          "default": 10,
          "min": 0,
          "max": 100,
          "step": 5
        },
        {
            "type": "range",
            "id": "layout_margin_top",
            "label": "Layout Margin Top",
            "default": 0,
            "min": 0,
            "max": 100
        },
        {
            "type": "range",
            "id": "layout_margin_bottom",
            "label": "Layout Margin Bottom",
            "default": 0,
            "min": 0,
            "max": 100
        }
    ],
    "presets": [
        {
            "name": "PC - Hero #27"
        }
    ]
}
{% endschema %}