<!--
  :danger: ATTENTION : Cette section est la propriété exclusive de PeakConversion.
  Elle est protégée par la loi sur la propriété intellectuelle en vertu de l'article L122-4 du Code de la Propriété Intellectuelle en France.
  Vous n'avez pas le droit de copier, vendre ou redistribuer cette section sous quelque forme que ce soit sans autorisation.
  Pour accéder légalement à ces sections personnalisables, visitez notre site : https://peakconversion.fr/pages/sections-personnalisables
-->
{% liquid
  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_weight = section.settings.heading_weight
  assign heading_color = section.settings.heading_color
  assign heading_size_mobile = section.settings.heading_size_mobile

  assign main_image = section.settings.main_image
  assign main_image_border_size = section.settings.main_image_border_size
  assign main_image_border_style = section.settings.main_image_border_style
  assign main_image_border_color = section.settings.main_image_border_color
  assign main_image_border_radius = section.settings.main_image_border_radius

  assign text = section.settings.text
  assign text_size = section.settings.text_size
  assign text_color = section.settings.text_color
  assign text_size_mobile = section.settings.text_size_mobile

  assign item_image_border_size = section.settings.item_image_border_size
  assign item_image_border_style = section.settings.item_image_border_style
  assign item_image_border_color = section.settings.item_image_border_color
  assign item_image_border_radius = section.settings.item_image_border_radius

  assign item_title_size = section.settings.item_title_size
  assign item_title_weight = section.settings.item_title_weight
  assign item_title_color = section.settings.item_title_color
  assign item_title_size_mobile = section.settings.item_title_size_mobile

  assign item_text_size = section.settings.item_text_size
  assign item_text_weight = section.settings.item_text_weight
  assign item_text_color = section.settings.item_text_color
  assign item_text_size_mobile = section.settings.item_text_size_mobile

  assign shape_border_size = section.settings.shape_border_size
  assign shape_border_style = section.settings.shape_border_style
  assign shape_border_color = section.settings.shape_border_color
  assign shape_border_radius = section.settings.shape_border_radius

  assign layout_full_width = section.settings.layout_full_width
  assign layout_margin_top = section.settings.layout_margin_top
  assign layout_margin_bottom = section.settings.layout_margin_bottom
  assign layout_background = section.settings.layout_background
%}

<style data-shopify="">
  .section-pc-{{ section.id }} {
    border-top: solid #000000 0px;
    border-bottom: solid #000000 0px;
    margin-top: {{ layout_margin_top }}px;
    margin-bottom: {{ layout_margin_bottom }}px;
    margin-left: 0rem;
    margin-right: 0rem;
    border-radius: 0px;
    overflow: hidden;
  }

  .section-pc-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .ingredients-content-pc-{{ section.id }} {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ingredients-heading-pc-{{ section.id }} {
    text-align: center;
    width: 100%;
  }

  .ingredients-heading-pc-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: 130%;
    text-transform: unset;
    text-decoration: none;
    word-break: break-word;
    font-weight: {{ heading_weight }};
  }

  .ingredients-text-pc-{{ section.id }} {
    margin-top: 12px;
    text-align: center;
    width: 100%;
  }

  .ingredients-text-pc-{{ section.id }} * {
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: 150%;
    text-transform: unset;
    text-decoration: none;
    word-break: break-word;
  }

  .ingredients-layout-pc-{{ section.id }} {
    margin-top: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .ingredients-image-pc-{{ section.id }} {
    display: none;
    border-radius: {{ main_image_border_radius }}%;
    border: {{ main_image_border_size }}px {{ main_image_border_style }} {{ main_image_border_color }};
    overflow: hidden;
    aspect-ratio: 1/1;
  }

  .ingredients-image-pc-{{ section.id }} img,
  .ingredients-image-pc-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ingredients-image-pc-{{ section.id }} svg {
    background-color: #afafaf;
  }

  .ingredients-column-pc-{{ section.id }} {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .ingredients-item-pc-{{ section.id }} {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 140px;
    flex-shrink: 0;
  }

  .ingredients-item-image-pc-{{ section.id }} {
    width: 90px;
    height: 90px;
    border-radius: {{ item_image_border_radius }}px;
    border: {{ item_image_border_size }}px {{ item_image_border_style }} {{ item_image_border_color }};
    overflow: hidden;
  }

  .ingredients-item-image-pc-{{ section.id }} img,
  .ingredients-item-image-pc-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ingredients-item-image-pc-{{ section.id }} svg {
    background-color: #afafaf;
  }

  .ingredients-item-title-pc-{{ section.id }} {
    margin: 0;
    margin-top: 12px;
    text-align: center;
    font-size: {{ item_title_size_mobile }}px;
    color: {{ item_title_color}};
    line-height: 130%;
    text-transform: unset;
    text-decoration: none;
    word-break: break-word;
    font-weight: {{ item_title_weight }};
  }

  .ingredients-item-text-pc-{{ section.id }} {
    margin: 0;
    margin-top: 4px;
    text-align: center;
    font-size: {{ item_text_size_mobile }}px;
    color: {{ item_text_color }};
    line-height: 150%;
    font-weight: {{ item_text_weight }};
    text-transform: unset;
    text-decoration: none;
    word-break: break-word;
  }

  @media (min-width: 1024px) {
    .section-pc-{{ section.id }} {
      margin-top: {{ layout_margin_top }}px;
      margin-bottom: {{ layout_margin_bottom }}px;
      margin-left: 0rem;
      margin-right: 0rem;
      border-radius: 0px;
    }

    .section-pc-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: 36px;
      padding-bottom: 36px;
      padding-left: 5rem;
      padding-right: 5rem;
    }

    .ingredients-content-pc-{{ section.id }} {
      align-items: center;
    }

    .ingredients-heading-pc-{{ section.id }} {
      text-align: center;
      max-width: 50%;
    }

    .ingredients-heading-pc-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .ingredients-text-pc-{{ section.id }} {
      margin-top: 20px;
      text-align: center;
      max-width: 50%;
    }

    .ingredients-text-pc-{{ section.id }} * {
      font-size: {{ text_size }}px;
    }

    .ingredients-image-pc-{{ section.id }} {
      display: block;
    }

    .ingredients-layout-pc-{{ section.id }} {
      position: relative;
      margin-bottom: 50px;
      margin-top: calc(32px + 50px);
      margin-left: auto;
      margin-right: auto;
      max-width: 70%;
      aspect-ratio: 1/1;
      flex-wrap: nowrap;
      justify-content: space-between;
      border-radius: {{ shape_border_radius }}%;
      border: {{ shape_border_size }}px {{ shape_border_style }} {{ shape_border_color }};
      gap: 50px;
    }

    .ingredients-item-pc-{{ section.id }} {
      max-width: 200px;
      align-items: center;
    }

    .ingredients-item-image-pc-{{ section.id }} {
      width: 100px;
      height: 100px;
    }

    .ingredients-column-pc-{{ section.id }} {
      gap: 50px;
      flex-direction: column;
      max-width: 200px;
      flex-shrink: 0;
      flex-wrap: nowrap;
      width: 100%;
    }

    .ingredients-column-top-pc-{{ section.id }} {
      flex-direction: row;
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      align-items: center;
      max-width: fit-content;
    }

    .ingredients-column-bottom-pc-{{ section.id }} {
      flex-direction: row;
      position: absolute;
      bottom: -50px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      align-items: center;
      max-width: fit-content;
    }

    .ingredients-column-left-pc-{{ section.id }} {
      position: relative;
      left: -50px;
    }

    .ingredients-column-right-pc-{{ section.id }} {
      position: relative;
      right: -50px;
    }

    .ingredients-item-title-pc-{{ section.id }} {
      margin-top: 12px;
      text-align: center;
      font-size: {{ item_title_size }}px;
    }

    .ingredients-item-text-pc-{{ section.id }} {
      margin-top: 4px;
      text-align: center;
      font-size: {{ item_text_size }}px;
    }
  }
</style>
<style>
  .section-pc-{{ section.id }}-settings {
    {%if layout_full_width == true %}
      max-width: 100%;
    {%else%}
    max-width: 1200px;
    {%endif%}
  }
</style>

<div
  class="section-pc-{{ section.id }} ingredients-pc-{{ section.id }}"
  style="background-color:{{ layout_background }}; background-image: ;"
>
  <div class="section-pc-{{ section.id }}-settings">
    <div class="ingredients-content-pc-{{ section.id }}">
      {% if heading != blank %}
        <div class="ingredients-heading-pc-{{ section.id }}">
          <h2>{{ heading }}</h2>
        </div>
      {% endif %}
      {% if text != blank %}
        <div class="ingredients-text-pc-{{ section.id }}">
          <p>{{ text }}</p>
        </div>
      {% endif %}
    </div>

    <div class="ingredients-layout-pc-{{ section.id }}">
      <div class="ingredients-column-pc-{{ section.id }} ingredients-column-top-pc-{{ section.id }}">
        {% for block in section.blocks %}
          {% if block.type == 'top_blocks' %}
            <div class="ingredients-item-pc-{{ section.id }}">
              <div class="ingredients-item-image-pc-{{ section.id }}">
                {% if block.settings.image != blank %}
                  <img
                    src="{{ block.settings.image | img_url: 'master' }}"
                    alt=""
                  >
                {% else %}
                  {{ 'product-2' | placeholder_svg_tag: 'placeholder_svg' }}
                {% endif %}
              </div>

              {% if block.settings.title != blank %}
                <p class="ingredients-item-title-pc-{{ section.id }}">{{ block.settings.title }}</p>
              {% endif %}
              {% if block.settings.text != blank %}
                <p class="ingredients-item-text-pc-{{ section.id }}">{{ block.settings.text }}</p>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="ingredients-column-pc-{{ section.id }} ingredients-column-bottom-pc-{{ section.id }}">
        {% for block in section.blocks %}
          {% if block.type == 'bottom_blocks' %}
            <div class="ingredients-item-pc-{{ section.id }}">
              <div class="ingredients-item-image-pc-{{ section.id }}">
                {% if block.settings.image != blank %}
                  <img
                    src="{{ block.settings.image | img_url: 'master' }}"
                    alt=""
                  >
                {% else %}
                  {{ 'product-2' | placeholder_svg_tag: 'placeholder_svg' }}
                {% endif %}
              </div>

              {% if block.settings.title != blank %}
                <p class="ingredients-item-title-pc-{{ section.id }}">{{ block.settings.title }}</p>
              {% endif %}
              {% if block.settings.text != blank %}
                <p class="ingredients-item-text-pc-{{ section.id }}">{{ block.settings.text }}</p>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="ingredients-column-pc-{{ section.id }} ingredients-column-left-pc-{{ section.id }}">
        {% for block in section.blocks %}
          {% if block.type == 'left_blocks' %}
            <div class="ingredients-item-pc-{{ section.id }}">
              <div class="ingredients-item-image-pc-{{ section.id }}">
                {% if block.settings.image != blank %}
                  <img
                    src="{{ block.settings.image | img_url: 'master' }}"
                    alt=""
                  >
                {% else %}
                  {{ 'product-2' | placeholder_svg_tag: 'placeholder_svg' }}
                {% endif %}
              </div>

              {% if block.settings.title != blank %}
                <p class="ingredients-item-title-pc-{{ section.id }}">{{ block.settings.title }}</p>
              {% endif %}
              {% if block.settings.text != blank %}
                <p class="ingredients-item-text-pc-{{ section.id }}">{{ block.settings.text }}</p>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="ingredients-image-pc-{{ section.id }}">
        {% if main_image != blank %}
          <img
            src="{{ main_image | img_url: 'master' }}"
            alt=""
          >
        {% else %}
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder_svg' }}
        {% endif %}
      </div>

      <div class="ingredients-column-pc-{{ section.id }} ingredients-column-right-pc-{{ section.id }}">
        {% for block in section.blocks %}
          {% if block.type == 'right_blocks' %}
            <div class="ingredients-item-pc-{{ section.id }}">
              <div class="ingredients-item-image-pc-{{ section.id }}">
                {% if block.settings.image != blank %}
                  <img
                    src="{{ block.settings.image | img_url: 'master' }}"
                    alt=""
                  >
                {% else %}
                  {{ 'product-2' | placeholder_svg_tag: 'placeholder_svg' }}
                {% endif %}
              </div>

              {% if block.settings.title != blank %}
                <p class="ingredients-item-title-pc-{{ section.id }}">{{ block.settings.title }}</p>
              {% endif %}
              {% if block.settings.text != blank %}
                <p class="ingredients-item-text-pc-{{ section.id }}">{{ block.settings.text }}</p>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "PC - Ingredient #4",
  "settings": [
    {
      "type": "header",
      "content": "This section is a property of PeakConversion",
      "info": "Do not sell or reproduce. contact us at franklinjounda@gmail.com for more info"
    },
    {
      "type": "header",
      "content": "Heading Settings"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Lorem Placeholdersum"
    },
    {
      "type": "range",
      "id": "heading_size",
      "label": "Heading Size",
      "min": 10,
      "max": 100,
      "default": 42
    },
    {
      "type": "select",
      "id": "heading_weight",
      "label": "Heading Weight",
      "options": [
        { "value": "400", "label": "Normal" },
        { "value": "700", "label": "Bold" }
      ],
      "default": "700"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#121212"
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "label": "Heading Size Mobile",
      "min": 10,
      "max": 100,
      "default": 42
    },
    {
      "type": "header",
      "content": "Main Image Settings"
    },
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Main Image"
    },
    {
      "type": "range",
      "id": "main_image_border_size",
      "label": "Main Image Border Size",
      "min": 0,
      "max": 10,
      "default": 0
    },
    {
      "type": "select",
      "id": "main_image_border_style",
      "label": "Main Image Border Style",
      "options": [
        { "value": "solid", "label": "Solid" },
        { "value": "dashed", "label": "Dashed" },
        { "value": "dotted", "label": "Dotted" }
      ],
      "default": "solid"
    },
    {
      "type": "color",
      "id": "main_image_border_color",
      "label": "Main Image Border Color",
      "default": "#121212"
    },
    {
      "type": "range",
      "id": "main_image_border_radius",
      "label": "Main Image Border Radius",
      "min": 0,
      "max": 100,
      "default": 100
    },
    {
      "type": "header",
      "content": "Text Settings"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text",
      "default": "Scola hostis in bellum umbra sanctus expello nex"
    },
    {
      "type": "range",
      "id": "text_size",
      "label": "Text Size",
      "min": 10,
      "max": 100,
      "default": 14
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#121212"
    },
    {
      "type": "range",
      "id": "text_size_mobile",
      "label": "Text Size Mobile",
      "min": 10,
      "max": 100,
      "default": 14
    },
    {
      "type": "header",
      "content": "Item Image Border Settings"
    },
    {
      "type": "range",
      "id": "item_image_border_size",
      "label": "Item Image Border Size",
      "min": 0,
      "max": 10,
      "default": 0
    },
    {
      "type": "select",
      "id": "item_image_border_style",
      "label": "Item Image Border Style",
      "options": [
        { "value": "solid", "label": "Solid" },
        { "value": "dashed", "label": "Dashed" },
        { "value": "dotted", "label": "Dotted" }
      ],
      "default": "solid"
    },
    {
      "type": "color",
      "id": "item_image_border_color",
      "label": "Item Image Border Color",
      "default": "#121212"
    },
    {
      "type": "range",
      "id": "item_image_border_radius",
      "label": "Item Image Border Radius",
      "min": 0,
      "max": 100,
      "default": 100
    },
    {
      "type": "header",
      "content": "Item Title Settings"
    },
    {
      "type": "range",
      "id": "item_title_size",
      "label": "Item Title Size",
      "min": 10,
      "max": 100,
      "default": 16
    },
    {
      "type": "select",
      "id": "item_title_weight",
      "label": "Item Title Weight",
      "options": [
        { "value": "400", "label": "Normal" },
        { "value": "700", "label": "Bold" }
      ],
      "default": "700"
    },
    {
      "type": "color",
      "id": "item_title_color",
      "label": "Item Title Color",
      "default": "#121212"
    },
    {
      "type": "range",
      "id": "item_title_size_mobile",
      "label": "Item Title Size Mobile",
      "min": 10,
      "max": 100,
      "default": 16
    },
    {
      "type": "header",
      "content": "Item Text Settings"
    },
    {
      "type": "range",
      "id": "item_text_size",
      "label": "Item Text Size",
      "min": 10,
      "max": 100,
      "default": 14
    },
    {
      "type": "select",
      "id": "item_text_weight",
      "label": "Item Text Weight",
      "options": [
        { "value": "400", "label": "Normal" },
        { "value": "700", "label": "Bold" }
      ],
      "default": "400"
    },
    {
      "type": "color",
      "id": "item_text_color",
      "label": "Item Text Color",
      "default": "#121212"
    },
    {
      "type": "range",
      "id": "item_text_size_mobile",
      "label": "Item Text Size Mobile",
      "min": 10,
      "max": 100,
      "default": 14
    },
    {
      "type": "header",
      "content": "Shape Border Settings"
    },
    {
      "type": "range",
      "id": "shape_border_size",
      "label": "Shape Border Size",
      "min": 0,
      "max": 10,
      "default": 1
    },
    {
      "type": "select",
      "id": "shape_border_style",
      "label": "Shape Border Style",
      "options": [
        { "value": "solid", "label": "Solid" },
        { "value": "dashed", "label": "Dashed" },
        { "value": "dotted", "label": "Dotted" }
      ],
      "default": "solid"
    },
    {
      "type": "color",
      "id": "shape_border_color",
      "label": "Shape Border Color",
      "default": "#ececec"
    },
    {
      "type": "range",
      "id": "shape_border_radius",
      "label": "Shape Border Radius",
      "min": 0,
      "max": 100,
      "default": 100
    },
    {
      "type": "header",
      "content": "Layout Settings"
    },
    {
      "type": "checkbox",
      "id": "layout_full_width",
      "label": "Full Width",
      "default": false
    },
    {
      "type": "range",
      "id": "layout_margin_top",
      "label": "Layout Margin Top",
      "min": 0,
      "max": 100,
      "default": 0
    },
    {
      "type": "range",
      "id": "layout_margin_bottom",
      "label": "Layout Margin Bottom",
      "min": 0,
      "max": 100,
      "default": 0
    },
    {
      "type": "color",
      "id": "layout_background",
      "label": "Layout Background",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "top_blocks",
      "name": "Top item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "left_blocks",
      "name": "Left item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "right_blocks",
      "name": "Right item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "bottom_blocks",
      "name": "Bottom item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "PC - Ingredient #4",
      "blocks": [
        {
          "type": "top_blocks",
          "settings": {
            "image": "",
            "title": "Lorem Ipsum",
            "text": "Lorem ipsum dolor sit amet"
          }
        },
        {
          "type": "bottom_blocks",
          "settings": {
            "image": "",
            "title": "Lorem Ipsum",
            "text": "Lorem ipsum dolor sit amet"
          }
        },
        {
          "type": "left_blocks",
          "settings": {
            "image": "",
            "title": "Lorem Ipsum",
            "text": "Lorem ipsum dolor sit amet"
          }
        },
        {
          "type": "left_blocks",
          "settings": {
            "image": "",
            "title": "Lorem Ipsum",
            "text": "Lorem ipsum dolor sit amet"
          }
        },
        {
          "type": "right_blocks",
          "settings": {
            "image": "",
            "title": "Lorem Ipsum",
            "text": "Lorem ipsum dolor sit amet"
          }
        },
        {
          "type": "right_blocks",
          "settings": {
            "image": "",
            "title": "Lorem Ipsum",
            "text": "Lorem ipsum dolor sit amet"
          }
        }
      ]
    }
  ]
}
{% endschema %}
