<!--
  :danger: ATTENTION : Cette section est la propriété exclusive de PeakConversion.
  Elle est protégée par la loi sur la propriété intellectuelle en vertu de l'article L122-4 du Code de la Propriété Intellectuelle en France.
  Vous n'avez pas le droit de copier, vendre ou redistribuer cette section sous quelque forme que ce soit sans autorisation.
  Pour accéder légalement à ces sections personnalisables, visitez notre site : https://peakconversion.fr/pages/sections-personnalisables
-->
{% liquid
    assign image_banner = section.settings.image_banner
  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_weight = section.settings.heading_weight
  assign heading_color = section.settings.heading_color
  assign heading_size_mobile = section.settings.heading_size_mobile

  assign text = section.settings.text   
    assign text_size = section.settings.text_size
    assign text_weight = section.settings.text_weight
    assign text_color = section.settings.text_color
    assign text_size_mobile = section.settings.text_size_mobile

    assign end_text = section.settings.end_text
    assign end_text_size = section.settings.end_text_size
    assign end_text_weight = section.settings.end_text_weight
    assign end_text_color = section.settings.end_text_color
    assign end_text_size_mobile = section.settings.end_text_size_mobile


    assign date_digit = section.settings.date_digit
    assign date_unit = section.settings.date_unit
    assign hours_digit = section.settings.hours_digit
    assign hours_unit = section.settings.hours_unit
    assign minutes_digit = section.settings.minutes_digit
    assign minutes_unit = section.settings.minutes_unit
    assign seconds_digit = section.settings.seconds_digit
    assign seconds_unit = section.settings.seconds_unit

    assign digit_size = section.settings.digit_size
    assign digit_weight = section.settings.digit_weight
    assign digit_color = section.settings.digit_color
    assign digit_size_mobile = section.settings.digit_size_mobile

    assign unit_size = section.settings.unit_size
    assign unit_weight = section.settings.unit_weight
    assign unit_color = section.settings.unit_color
    assign unit_size_mobile = section.settings.unit_size_mobile

    assign box_background = section.settings.box_background
    assign box_border_radius = section.settings.box_border_radius
    assign box_border_width = section.settings.box_border_width
    assign box_border_color = section.settings.box_border_color
    assign box_border_style = section.settings.box_border_style

    assign button_text = section.settings.button_text
    assign button_link = section.settings.button_link
    assign button_size = section.settings.button_size
    assign button_weight = section.settings.button_weight
    assign button_color = section.settings.button_color
    assign button_size_mobile = section.settings.button_size_mobile
    assign button_border_radius = section.settings.button_border_radius
    assign button_border_width = section.settings.button_border_width
    assign button_border_color = section.settings.button_border_color
    assign button_border_style = section.settings.button_border_style
    assign button_background = section.settings.button_background

    assign layout_background = section.settings.layout_background
    assign layout_margin_top = section.settings.layout_margin_top
    assign layout_margin_bottom = section.settings.layout_margin_bottom

%}
<style data-shopify="">
  .section-pc-{{section.id}} {
    border-top: solid #000000 0px;
    border-bottom: solid #000000 0px;
    margin-top: {{ layout_margin_top }}px;
    margin-bottom: {{ layout_margin_bottom }}px;
    margin-left: 0rem;
    margin-right: 0rem;
    border-radius: 0px;
    overflow: hidden;
  }

  .section-pc-{{section.id}}-settings {
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .countdown-body-pc-{{section.id}} {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .countdown-image-pc-{{section.id}} {
    border-radius: px;
    border: px solid;
    overflow: hidden;
    position: relative;
  }

  .countdown-image-pc-{{section.id}} > img:first-child,
  .countdown-image-pc-{{section.id}} > svg:first-child {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .countdown-image-pc-{{section.id}} > svg:first-child {
    background-color: #afafaf;
  }

  .countdown-desktop-shape-pc-{{section.id}} {
    display: none;
    position: absolute;
    height: 102%;
    width: auto;
    z-index: 2;
    top: -1%;
  }

  .countdown-mobile-shape-pc-{{section.id}} {
    position: absolute;
    height: auto;
    width: 100%;
    z-index: 2;
    left: 0;
  }

  .countdown-content-pc-{{section.id}} {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 16px;
  }

  .countdown-content-inner-pc-{{section.id}} {
    width: 100%;
  }

  @media (min-width: 1024px) {
    .section-pc-{{section.id}} {
      margin-top: {{  layout_margin_top}}px;
      margin-bottom: {{ layout_margin_bottom}}px;
      margin-left: 0rem;
      margin-right: 0rem;
      border-radius: 0px;
    }

    .section-pc-{{section.id}}-settings {
      padding: 0 5rem;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0rem;
      padding-right: 0rem;
    }

    .countdown-body-pc-{{section.id}} {
      grid-template-columns: 1fr 1fr;
      gap: 50px;
      align-items: center;
    }

    .countdown-desktop-shape-pc-{{section.id}} {
      display: block;
    }

    .countdown-mobile-shape-pc-{{section.id}} {
      display: none;
    }

    .countdown-content-pc-{{section.id}} {
      align-items: start;
      padding: 40px 24px;
    }

    .countdown-content-inner-pc-{{section.id}} {
      max-width: 550px;
    }
  }
</style>

<style>
  .countdown-image-pc-{{section.id}} {
    aspect-ratio: 12/10;
  }
</style>

<style>
  @media (min-width: 1024px) {
    .countdown-image-pc-{{section.id}} {
      aspect-ratio: 12/10;
    }
  }
</style>

<style>
  .countdown-image-pc-{{section.id}} {
    order: 1;
  }

  .countdown-content-pc-{{section.id}} {
    order: 2;
  }

  .countdown-mobile-shape-pc-{{section.id}} {
    top: -1px;
  }
</style>

<style>
  @media (min-width: 1024px) {
    .countdown-image-pc-{{section.id}} {
      order: 2;
    }

    .countdown-content-pc-{{section.id}} {
      order: 1;
    }

    .countdown-content-inner-pc-{{section.id}} {
      margin-left: auto;
    }

    .countdown-desktop-shape-pc-{{section.id}} {
      left: -1px;
      transform: rotate(-180deg);
    }
  }
</style>

<style>
  .countdown-heading-heading_Y8KgWk {
    text-align: center;
    margin-top: 0px;
  }

  .countdown-heading-heading_Y8KgWk * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    font-weight: {{ heading_weight }};
    line-height: 130%;
    text-transform: unset;
  }

  @media (min-width: 1024px) {
    .countdown-heading-heading_Y8KgWk {
      text-align: left;
      margin-top: 0px;
    }

    .countdown-heading-heading_Y8KgWk * {
      font-size: {{ heading_size }}px;
    }
  }
</style>

<style>
  .countdown-text-text_yHBHgt {
    text-align: center;
    margin-top: 8px;
  }

  .countdown-text-text_yHBHgt * {
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    font-weight: {{ text_weight }};
    line-height: 150%;
    text-transform: unset;
  }

  @media (min-width: 1024px) {
    .countdown-text-text_yHBHgt {
      text-align: left;
      margin-top: 8px;
    }

    .countdown-text-text_yHBHgt * {
      font-size: {{ text_size }}px;
    }
  }
</style>

<style>
  .countdown-timer-timer_NtfBTX {
    margin-top: 12px;
    display: flex;
    align-items: stretch;
    gap: 6px;
    justify-content: center;
  }

  .countdown-timer-timer_NtfBTX .time-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 70px;
    gap: 10px;
    background-color: {{ box_background }};
    border-radius: {{ box_border_radius }}px;
    border: {{ box_border_width }}px {{ box_border_style }} {{ box_border_color }};
    
    padding: 6px 6px;
  }

  .countdown-timer-timer_NtfBTX .time-block__num {
    margin: 0;
    font-size: {{ digit_size_mobile }}px;
    color: {{ digit_color }};
    line-height: 100%;
    text-transform: unset;
    font-weight: {{ digit_weight }};
  }

  .countdown-timer-timer_NtfBTX .time-block__unit {
    margin: 0;
    font-size: {{ unit_size_mobile }}px;
    color: {{ unit_color }};
    font-weight: {{ unit_weight }};
    line-height: 100%;
    text-transform: unset;
  }

  .countdown-timer-completed-text-timer_NtfBTX * {
    margin: 0;
    font-size: {{ end_text_size_mobile }}px;
    color: {{  end_text_color }};
    font-weight: {{ end_text_weight }};
    line-height: 100%;
    text-transform: unset;
  }

  @media (min-width: 1024px) {
    .countdown-timer-timer_NtfBTX {
      margin-top: 16px;
      gap: 8px;
      justify-content: start;
    }

    .countdown-timer-timer_NtfBTX .time-block {
      max-width: 88px;
      padding: 8px 8px;
    }

    .countdown-timer-timer_NtfBTX .time-block__num {
      font-size: {{ digit_size }}px;
    }

    .countdown-timer-timer_NtfBTX .time-block__unit {
      font-size: {{ unit_size }}px;
    }

    .countdown-timer-completed-text-timer_NtfBTX * {
      font-size: {{ end_text_size }}px;
    }
  }
</style>

<style>
  .countdown-button-button_LpBVRX {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 300px;
    margin: 0;
    margin-top: 24px;
    font-size: {{ button_size_mobile }}px;
    color: {{ button_color }};
    line-height: 100%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: {{ button_border_radius }}px;
    transition: all 0.25s ease 0s;
    position: relative;
    border: {{ button_border_width }}px {{ button_border_style }} {{ button_border_color }};
    font-weight: {{ button_weight }};
    z-index: 2;
  }

  .countdown-button-button_LpBVRX:hover {
    {% comment %} color: #ffffff; {% endcomment %}
    transition: all 0.25s ease 0s;
  }

  .countdown-button-button_LpBVRX svg {
    width: 14px;
    height: 14px;
  }

  .countdown-button-button_LpBVRX svg path {
    fill: #ffffff;
    transition: all 0.25s ease 0s;
  }

  .countdown-button-button_LpBVRX:hover svg path {
    fill: #ffffff;
    transition: all 0.25s ease 0s;
  }

  @media (min-width: 1024px) {
    .countdown-button-button_LpBVRX {
      margin-top: 28px;
      max-width: 300px;
      padding: 16px 32px;
      font-size: {{ button_size }}px;
    }
  }
</style>

<style>
  .countdown-button-button_LpBVRX {
    margin-left: auto;
    margin-right: auto;
  }
</style>

<style>
  @media (min-width: 1024px) {
    .countdown-button-button_LpBVRX {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  }
</style>

<style>
  .countdown-button-button_LpBVRX {
    background-color: {{  button_background}};
  }

  .countdown-button-button_LpBVRX:hover {
    background-color: {{ button_background }};
    opacity: 0.9;
  }
</style>

<div
  class="section-pc-{{section.id}} countdown-pc-{{section.id}}"
  style="background-color:{{ layout_background }}; background-image: ;"
>
  <div class="section-pc-{{section.id}}-settings">
    <div class="countdown-body-pc-{{section.id}}">
      <div class="countdown-content-pc-{{section.id}}">
        <div class="countdown-content-inner-pc-{{section.id}}">
          <div class="countdown-heading-heading_Y8KgWk">

            <p>
                {{ heading }}
            </p>
          </div>

          <div class="countdown-text-text_yHBHgt">
            {{ text }}
          </div>

          <div class="countdown-timer-timer_NtfBTX">
            <div class="time-block">
              <span class="time-block__num js-timer-days">142</span>
              <span class="time-block__unit">{{ date_unit }}</span>
            </div>
            <div class="time-block">
              <span class="time-block__num js-timer-hours">3</span>
              <span class="time-block__unit">{{ hours_unit }}</span>
            </div>
            <div class="time-block">
              <span class="time-block__num js-timer-minutes">55</span>
              <span class="time-block__unit">{{ minutes_unit }}</span>
            </div>
            <div class="time-block">
              <span class="time-block__num js-timer-seconds">0</span>
              <span class="time-block__unit">{{ seconds_unit }}</span>
            </div>
          </div>

          <style>
            .countdown-timer-completed-text-timer_NtfBTX {
              display: none;
            }
          </style>
          <div class="countdown-timer-completed-text-timer_NtfBTX">
            {{ end_text}}
          </div>

          {% if button_text != blank %}
          <a href="{{ button_link }}" class="countdown-button-button_LpBVRX"> {{ button_text }} </a>
        {% endif %}
        </div>
      </div>
      <div class="countdown-image-pc-{{section.id}}">
        {% if image_banner != blank %}
        <img
          src="{{ image_banner | img_url: 'master' }}"
          alt=""
          loading="lazy"
        >
        {% else %}
            {{ "lifestyle-2" | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}

        <svg
          class="countdown-mobile-shape-pc-{{section.id}}"
          width="1118"
          height="154"
          viewBox="0 0 1118 154"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 153.16h.992868C104.323 60.9285 327.224.00001207 558.971.00000194 790.784-.00000819 1001.94 52.0417 1116.93 153.16h1.01V-.0000225L558.971.00000195-.0000067.00002637 0 153.16Z" fill="{{ layout_background }}"></path>
        </svg>
        <svg
          class="countdown-desktop-shape-pc-{{section.id}}"
          width="77"
          height="559"
          viewBox="0 0 77 559"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M.416016 0v.49646C46.5342 52.1643 77 163.62 77 279.5 77 395.412 50.9778 500.997.416016 558.496V559H77V0H.416016Z" fill="{{ layout_background }}"></path>
        </svg>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
    "name": "PC - Timer #6",
    "settings": [
        {
            "type": "header",
            "content": "This section is a property of PeakConversion",
            "info": "Do not sell or reproduce. contact us at franklinjounda@gmail.com for more info"
        },
        {
            "type": "image_picker",
            "id": "image_banner",
            "label": "Banner Image"
        },
        {
            "type": "header",
            "content": "Heading Settings"
        },
        {
            "type": "textarea",
            "id": "heading",
            "label": "Heading",
            "default": "<strong>Lorem ipsum dolor sit amet considerum</strong>"
        },
        {
            "type": "range",
            "id": "heading_size",
            "label": "Heading Size",
            "default": 44,
            "min": 10,
            "max": 100
        },
        {
            "type": "select",
            "id": "heading_weight",
            "label": "Heading Weight",
            "default": "bold",
            "options": [
                {
                    "value": "normal",
                    "label": "Normal"
                },
                {
                    "value": "bold",
                    "label": "Bold"
                }
            ]
        },
        {
            "type": "color",
            "id": "heading_color",
            "label": "Heading Color",
            "default": "#000000"
        },
        {
            "type": "range",
            "id": "heading_size_mobile",
            "label": "Heading Size (Mobile)",
            "default": 32,
            "min": 10,
            "max": 100
        },
        {
            "type": "header",
            "content": "Text Settings"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<p>"
        },
        {
            "type": "range",
            "id": "text_size",
            "label": "Text Size",
            "default": 20,
            "min": 10,
            "max": 100
        },
        {
            "type": "select",
            "id": "text_weight",
            "label": "Text Weight",
            "default": "normal",
            "options": [
                {
                    "value": "normal",
                    "label": "Normal"
                },
                {
                    "value": "bold",
                    "label": "Bold"
                }
            ]
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#000000"
        },
        {
            "type": "range",
            "id": "text_size_mobile",
            "label": "Text Size (Mobile)",
            "default": 16,
            "min": 10,
            "max": 100
        },
        {
            "type": "header",
            "content": "End Time Text Settings"
        },
        {
            "type": "text",
            "id": "end_text",
            "label": "End Text",
            "default": "The sale has ended."
        },
        {
            "type": "range",
            "id": "end_text_size",
            "label": "End Text Size",
            "default": 20,
            "min": 10,
            "max": 100
        },
        {
            "type": "select",
            "id": "end_text_weight",
            "label": "End Text Weight",
            "default": "normal",
            "options": [
                {
                    "value": "normal",
                    "label": "Normal"
                },
                {
                    "value": "bold",
                    "label": "Bold"
                }
            ]
        },
        {
            "type": "color",
            "id": "end_text_color",
            "label": "End Text Color",
            "default": "#000000"
        },
        {
            "type": "range",
            "id": "end_text_size_mobile",
            "label": "End Text Size (Mobile)",
            "default": 16,
            "min": 10,
            "max": 100
        },
        {
            "type": "header",
            "content": "Timer Settings"
        },
        {
            "type": "text",
            "id": "date_digit",
            "label": "Date Digit",
            "default": "2027-04-28"
        },
        {
            "type": "text",
            "id": "date_unit",
            "label": "Date Unit",
            "default": "Days"
        },
        {
            "type": "text",
            "id": "hours_digit",
            "label": "Hours Digit",
            "default": "00"
        },
        {
            "type": "text",
            "id": "hours_unit",
            "label": "Hours Unit",
            "default": "Hours"
        },
        {
            "type": "text",
            "id": "minutes_digit",
            "label": "Minutes Digit",
            "default": "00"
        },
        {
            "type": "text",
            "id": "minutes_unit",
            "label": "Minutes Unit",
            "default": "Minutes"
        },
        {
            "type": "text",
            "id": "seconds_digit",
            "label": "Seconds Digit",
            "default": "00"
        },
        {
            "type": "text",
            "id": "seconds_unit",
            "label": "Seconds Unit",
            "default": "Seconds"
        },
        {
            "type": "range",
            "id": "digit_size",
            "label": "Digit Size",
            "default": 35,
            "min": 10,
            "max": 100
        },
        {
            "type": "select",
            "id": "digit_weight",
            "label": "Digit Weight",
            "default": "bold",
            "options": [
                {
                    "value": "normal",
                    "label": "Normal"
                },
                {
                    "value": "bold",
                    "label": "Bold"
                }
            ]
        },
        {
            "type": "color",
            "id": "digit_color",
            "label": "Digit Color",
            "default": "#000000"
        },
        {
            "type": "range",
            "id": "digit_size_mobile",
            "label": "Digit Size (Mobile)",
            "default": 35,
            "min": 10,
            "max": 100
        },
        {
            "type": "range",
            "id": "unit_size",
            "label": "Unit Size",
            "default": 11,
            "min": 10,
            "max": 100
        },
        {
            "type": "select",
            "id": "unit_weight",
            "label": "Unit Weight",
            "default": "normal",
            "options": [
                {
                    "value": "normal",
                    "label": "Normal"
                },
                {
                    "value": "bold",
                    "label": "Bold"
                }
            ]
        },
        {
            "type": "color",
            "id": "unit_color",
            "label": "Unit Color",
            "default": "#000000"
        },
        {
            "type": "range",
            "id": "unit_size_mobile",
            "label": "Unit Size (Mobile)",
            "default": 11,
            "min": 10,
            "max": 100
        },
        {
            "type": "header",
            "content": "Box Settings"
        },
        {
            "type": "color",
            "id": "box_background",
            "label": "Box Background",
            "default": "#ffffff"
        },
        {
            "type": "range",
            "id": "box_border_radius",
            "label": "Box Border Radius",
            "default": 12,
            "min": 0,
            "max": 50
        },
        {
            "type": "range",
            "id": "box_border_width",
            "label": "Box Border Width",
            "default": 1,
            "min": 0,
            "max": 10
        },
        {
            "type": "color",
            "id": "box_border_color",
            "label": "Box Border Color",
            "default": "#000000"
        },
        {
            "type": "select",
            "id": "box_border_style",
            "label": "Box Border Style",
            "default": "solid",
            "options": [
                {
                    "value": "solid",
                    "label": "Solid"
                },
                {
                    "value": "dashed",
                    "label": "Dashed"
                },
                {
                    "value": "dotted",
                    "label": "Dotted"
                }
            ]
        },
        {
            "type": "header",
            "content": "Button Settings"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "SHOP NOW"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        },
        {
            "type": "range",
            "id": "button_size",
            "label": "Button Size",
            "default": 18,
            "min": 10,
            "max": 100
        },
        {
            "type": "select",
            "id": "button_weight",
            "label": "Button Weight",
            "default": "bold",
            "options": [
                {
                    "value": "normal",
                    "label": "Normal"
                },
                {
                    "value": "bold",
                    "label": "Bold"
                }
            ]
        },
        {
            "type": "color",
            "id": "button_color",
            "label": "Button Color",
            "default": "#ffffff"
        },
        {
            "type": "range",
            "id": "button_size_mobile",
            "label": "Button Size (Mobile)",
            "default": 18,
            "min": 10,
            "max": 100
        },
        {
            "type": "range",
            "id": "button_border_radius",
            "label": "Button Border Radius",
            "default": 100,
            "min": 0,
            "max": 100
        },
        {
            "type": "range",
            "id": "button_border_width",
            "label": "Button Border Width",
            "default": 0,
            "min": 0,
            "max": 10
        },
        {
            "type": "color",
            "id": "button_border_color",
            "label": "Button Border Color",
            "default": "#ffffff"
        },
        {
            "type": "select",
            "id": "button_border_style",
            "label": "Button Border Style",
            "default": "solid",
            "options": [
                {
                    "value": "solid",
                    "label": "Solid"
                },
                {
                    "value": "dashed",
                    "label": "Dashed"
                },
                {
                    "value": "dotted",
                    "label": "Dotted"
                }
            ]
        },
        {
            "type": "color",
            "id": "button_background",
            "label": "Button Background",
            "default": "#000"
        },
        {
            "type": "header",
            "content": "Layout Settings"
        },
        {
            "type": "color",
            "id": "layout_background",
            "label": "Layout Background",
            "default": "#f3f3f3"
        },
        {
            "type": "range",
            "id": "layout_margin_top",
            "label": "Layout Margin Top",
            "default": 0,
            "min": 0,
            "max": 100
        },
        {
            "type": "range",
            "id": "layout_margin_bottom",
            "label": "Layout Margin Bottom",
            "default": 0,
            "min": 0,
            "max": 100
        }
    ],
    "presets": [
        {
            "category": "Promotional",
            "name": "PC - Timer #6"
        }
    ],
}
{% endschema %}
<script type="text/javascript">
  (function () {
    function startTimer() {
      const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24,
        wrapper = document.querySelector('.countdown-timer-timer_NtfBTX'),
        countDown = new Date('{{ date_digit }}T{{ hours_digit }}:{{ minutes_digit }}:{{ seconds_digit }}Z').getTime();

      {% comment %} console.log('start timer, end date:' + countDown); {% endcomment %}
      const interval = setInterval(function () {
        let now = new Date().getTime(),
          distance = countDown - now,
          days = Math.floor(distance / day),
          hours = Math.floor((distance % day) / hour),
          minutes = Math.floor((distance % hour) / minute),
          seconds = Math.floor((distance % minute) / second);

        (wrapper.querySelector('.js-timer-days').innerText = days),
          (wrapper.querySelector('.js-timer-hours').innerText = hours),
          (wrapper.querySelector('.js-timer-minutes').innerText = minutes),
          (wrapper.querySelector('.js-timer-seconds').innerText = seconds);

        if (distance < 0) {
          wrapper.querySelector('.js-timer-days').innerText = '00';
          wrapper.querySelector('.js-timer-hours').innerText = '00';
          wrapper.querySelector('.js-timer-minutes').innerText = '00';
          wrapper.querySelector('.js-timer-seconds').innerText = '00';

          document.querySelector('.countdown-timer-completed-text-timer_NtfBTX').style.display = 'block';
          document.querySelector(".countdown-button-button_LpBVRX").style.display = 'none';
          
          clearInterval(interval);
        }
      }, second);
      document.addEventListener('shopify:section:unload', function (event) {
        if (event.detail.sectionId === 'pc-{{section.id}}') clearInterval(interval);
      });
    }
    startTimer();
    if (window.Shopify && Shopify.designMode) {
      document.addEventListener('shopify:section:load', function (event) {
        if (event.detail.sectionId === 'pc-{{section.id}}') {
          startTimer();
        }
      });
    }
  })();
</script>
